@font-face {
	font-family: 'clickOnero';
	src:url('../fonts/clickOnero.eot?-6n4xpu');
	src:url('../fonts/clickOnero.eot?#iefix-6n4xpu') format('embedded-opentype'),
		url('../fonts/clickOnero.woff?-6n4xpu') format('woff'),
		url('../fonts/clickOnero.ttf?-6n4xpu') format('truetype'),
		url('../fonts/clickOnero.svg?-6n4xpu#clickOnero') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="iconFont-"], [class*=" iconFont-"] {
	font-family: 'clickOnero';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.iconFont-slideBG:before {
	content: "\e672";
}
.iconFont-clicknero:before {
	content: "\e670";
}
.iconFont-o:before {
	content: "\e671";
}
.iconFont-clickOnero2:before {
	content: "\e600";
}
.iconFont-clickOnero3:before {
	content: "\e601";
}
.iconFont-clickOnero-:before {
	content: "\e602";
}
.iconFont-clickOnero:before {
	content: "\e603";
}
.iconFont-myLooq3:before {
	content: "\e604";
}
.iconFont-myLooq2:before {
	content: "\e605";
}
.iconFont-myLooq:before {
	content: "\e606";
}
.iconFont-pandaSport2:before {
	content: "\e607";
}
.iconFont-pandaSports:before {
	content: "\e608";
}
.iconFont-pandaSports2:before {
	content: "\e609";
}
.iconFont-coupons:before {
	content: "\e60a";
}
.iconFont-coupon:before {
	content: "\e60b";
}
.iconFont-equalMoney:before {
	content: "\e60c";
}
.iconFont-video:before {
	content: "\e60d";
}
.iconFont-candado:before {
	content: "\e60e";
}
.iconFont-downbanner:before {
	content: "\e60f";
}
.iconFont-upbanner:before {
	content: "\e610";
}
.iconFont-facebookCircle2:before {
	content: "\e611";
}
.iconFont-facebookCircle:before {
	content: "\e612";
}
.iconFont-twitterCircle:before {
	content: "\e613";
}
.iconFont-pinterestCircle:before {
	content: "\e614";
}
.iconFont-facebook:before {
	content: "\e615";
}
.iconFont-twitter:before {
	content: "\e616";
}
.iconFont-pinterest:before {
	content: "\e617";
}
.iconFont-leftA:before {
	content: "\e618";
}
.iconFont-left2:before {
	content: "\e619";
}
.iconFont-rightA:before {
	content: "\e61a";
}
.iconFont-right2:before {
	content: "\e61b";
}
.iconFont-left:before {
	content: "\e61c";
}
.iconFont-right:before {
	content: "\e61d";
}
.iconFont-prev:before {
	content: "\e61e";
}
.iconFont-next:before {
	content: "\e61f";
}
.iconFont-prev3:before {
	content: "\e620";
}
.iconFont-next3:before {
	content: "\e621";
}
.iconFont-restaurant:before {
	content: "\e622";
}
.iconFont-hotel:before {
	content: "\e623";
}
.iconFont-bus:before {
	content: "\e624";
}
.iconFont-ticket:before {
	content: "\e625";
}
.iconFont-plane:before {
	content: "\e626";
}
.iconFont-savemoney:before {
	content: "\e627";
}
.iconFont-new:before {
	content: "\e628";
}
.iconFont-moneyCircle:before {
	content: "\e629";
}
.iconFont-like:before {
	content: "\e62a";
}
.iconFont-email:before {
	content: "\e62b";
}
.iconFont-phone:before {
	content: "\e62c";
}
.iconFont-ok:before {
	content: "\e62d";
}
.iconFont-no:before {
	content: "\e62e";
}
.iconFont-question:before {
	content: "\e62f";
}
.iconFont-lupa:before {
	content: "\e630";
}
.iconFont-lineslider:before {
	content: "\e631";
}
.iconFont-line2:before {
	content: "\e632";
}
.iconFont-line:before {
	content: "\e633";
}
.iconFont-info:before {
	content: "\e634";
}
.iconFont-heart:before {
	content: "\e635";
}
.iconFont-graphic:before {
	content: "\e636";
}
.iconFont-flecha:before {
	content: "\e637";
}
.iconFont-downmenu:before {
	content: "\e638";
}
.iconFont-down:before {
	content: "\e639";
}
.iconFont-up:before {
	content: "\e63a";
}
.iconFont-cruz:before {
	content: "\e63b";
}
.iconFont-clock:before {
	content: "\e63c";
}
.iconFont-check2:before {
	content: "\e63d";
}
.iconFont-check4:before {
	content: "\e63e";
}
.iconFont-check1:before {
	content: "\e63f";
}
.iconFont-check3:before {
	content: "\e640";
}
.iconFont-cart:before {
	content: "\e641";
}
.iconFont-calendar2:before {
	content: "\e642";
}
.iconFont-calendar:before {
	content: "\e643";
}
.iconFont-caledar2:before {
	content: "\e644";
}
.iconFont-box:before {
	content: "\e645";
}
.iconFont-bit:before {
	content: "\e646";
}
.iconFont-w-underwear:before {
	content: "\e647";
}
.iconFont-w-top:before {
	content: "\e648";
}
.iconFont-w-sweater:before {
	content: "\e649";
}
.iconFont-w-skirt:before {
	content: "\e64a";
}
.iconFont-m-sweater:before {
	content: "\e64b";
}
.iconFont-w-pants:before {
	content: "\e64c";
}
.iconFont-w-dress:before {
	content: "\e64d";
}
.iconFont-m-shirt:before {
	content: "\e64e";
}
.iconFont-m-pants:before {
	content: "\e64f";
}
.iconFont-m-underwear:before {
	content: "\e650";
}
.iconFont-close:before {
	content: "\e651";
}
.iconFont-creditcard:before {
	content: "\e652";
}
.iconFont-send:before {
	content: "\e653";
}
.iconFont-clock2:before {
	content: "\e654";
}
.iconFont-paypal:before {
	content: "\e655";
}
.iconFont-amex:before {
	content: "\e656";
}
.iconFont-visa:before {
	content: "\e657";
}
.iconFont-oxxo:before {
	content: "\e658";
}
.iconFont-efectivo:before {
	content: "\e659";
}
.iconFont-mastercard:before {
	content: "\e65a";
}
.iconFont-arrowLeft:before {
	content: "\e65b";
}
.iconFont-arrowRight:before {
	content: "\e65c";
}
.iconFont-billete:before {
	content: "\e65d";
}
.iconFont-codebar:before {
	content: "\e65e";
}
.iconFont-courthouse:before {
	content: "\e65f";
}
.iconFont-computerDoc:before {
	content: "\e660";
}
.iconFont-document:before {
	content: "\e661";
}
.iconFont-bag:before {
	content: "\e662";
}
.iconFont-play:before {
	content: "\e663";
}
.iconFont-phonetalk:before {
	content: "\e664";
}
.iconFont-finger:before {
	content: "\e665";
}
.iconFont-link:before {
	content: "\e666";
}
.iconFont-printer:before {
	content: "\e667";
}
.iconFont-efectivo2:before {
	content: "\e668";
}
.iconFont-computer:before {
	content: "\e669";
}
.iconFont-email2:before {
	content: "\e66a";
}
.iconFont-winbits:before {
	content: "\e66b";
}
.iconFont-required:before {
	content: "\e66c";
}
.iconFont-star:before {
	content: "\e66d";
}
.iconFont-docPDF:before {
	content: "\e66e";
}
.iconFont-docWEB:before {
	content: "\e66f";
}
